*.exe
log
*.log*
*.cap
*.dll
Output
GeneratedFiles
*.exe
*.lib
*.pch
*.vspscc
*.vssscc
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
Ankh.NoLoad
*.user
*.aps
*.pyc
*.ncb
*.bin
*.csv
*.xls
*.lnk
*.pdb
*.[Oo]bj
*.idb
*.suo
*.exp
*.o
*.ini
*.err
*.out
*.dat
Debug
Release
Data
Temp
appsessions
.project
.pydevproject
*.db
.DS_Store
venv
.idea
